apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ name }}-ingress
  type: letsencrypt
#  annotations:
#    nginx/proxy_connect_timeout: 10m
#    nginx/proxy_send_timeout: 10m
#    nginx/proxy_read_timeout: 10m
#    nginx/send_timeout: 10m
spec:
  tls:
  - hosts:
    - {{ host }}
    secretName: {{ name }}-secret
  rules:
  - host: {{ host }}
    http:
      paths:
      - path: /.well-known/acme-challenge
        backend:
          serviceName: certbot-svc
          servicePort: 80
      - path: /.certs
        backend:
          serviceName: certbot-svc
          servicePort: 80
      - path: /
        backend:
          serviceName: {{ service_name }}-svc
          servicePort: 80